<div class="body-cards">
  <div class="zone-card-portfolio">
    <div class="cardgroot">
    <div class="img-card">
      <%= image_tag "cards/yondoo.jpg" %>
      <%= image_tag "cards/groot1.jpg" %>
    </div>
    <div class="zone-content">
      <div class="content">
        <span class="new-amsterdam-regular">"Je m'appelle groot"</span>
        <p class="marvel-regular">Groot est un extraterrestre végétal à l'allure d'arbre. Souvent désigné comme le « colosse floral », il n'en reste pas moins un puissant individu.</p>
      </div>
      <div class="content">
        <span class="new-amsterdam-regular">"Yondu Udonta"</span>
        <p class="marvel-regular">Yondu Udonta est un prêtre guerrier de la tribu Zatoan, un peuple primitif de la planète Centauri IV. Il est considéré comme l’un des plus grands héros du XXXIe siècle.</p>
      </div>

    </div>
    </div>
  </div>

</div>
