<div class="body-cards">
  <h2>Je peux créer de rien</h2>
  <div class="zone-card-portfolio">
    <div class="cardgroot">
    <div class="img-card">
      <%= image_tag "cards/yondoo.jpg" %>
      <%= image_tag "cards/groot1.jpg" %>
    </div>
    <div class="zone-content">
      <div class="content">
        <span class="new-amsterdam-regular">"Je m'appelle groot"</span>
        <p class="marvel-regular">Groot est un extraterrestre végétal à l'allure d'arbre. Souvent désigné comme le « colosse floral », il n'en reste pas moins un puissant individu.</p>
      </div>
      <div class="content">
        <span class="new-amsterdam-regular">"Yondu Udonta"</span>
        <p class="marvel-regular">Yondu Udonta est un prêtre guerrier de la tribu Zatoan, un peuple primitif de la planète Centauri IV. Il est considéré comme l’un des plus grands héros du XXXIe siècle.</p>
      </div>

    </div>
    </div>
  </div>
  <div class="zone-card-portfolio">
    <div class="card-spiderman">
      <div class="card-front">
        <%= image_tag "cards/upsidedown3.jpg",class:"img1" %>
        <%= image_tag "cards/spidybadass",class:"img2" %>
        <span class="text1">Miles MORALES</span>
        <span class="text2">Peter PARKER</span>
        <span class="text3">La copie</span>
        <span class="text4">L'original</span>

      </div>
      <div class="card-back">
        <div class="color1"></div>
        <div class="color2"></div>
      </div>
    </div>
  </div>
  <h2>Je peux intégrer du code existant</h2>
  <div class="zone-card-portfolio">
  <div id="box">
    <div id="moon">
      <div id="hole1" class="hole"></div>
      <div id="hole2" class="hole"></div>
      <div id="hole3" class="hole"></div>
      <div id="hole4" class="hole"></div>
      <div id="hole5" class="hole"></div>
      <div id="hole6" class="hole"></div>
      <div id="hole7" class="hole"></div>
    </div>
    <div id="floor1" class="floor light"></div>
    <div id="floor2" class="floor light"></div>
    <div id="floor3" class="floor light"></div>
    <div id="floor4" class="floor dark"></div>
    <div id="floor5" class="floor dark"></div>
    <div id="info">
      <span id="temp">15°</span>
      <div id="stats">
        <span>Wind: N 9Km/h</span>
        <span>Humidity: 75%</span>
      </div>
      <div id="next">
        <span>FRI<b>23° / 11°</b></span>
        <span>SAT<b>25° / 15°</b></span>
      </div>
    </div>
    <div id="drop1" class="drop"></div>
    <div id="drop2" class="drop"></div>
    <div id="drop3" class="drop"></div>
    <div id="drop4" class="drop"></div>
    <div id="drop5" class="drop away"></div>
    <div id="drop6" class="drop away"></div>
    <div id="drop7" class="drop away"></div>
    <div id="drop8" class="drop away"></div>
  </div>
  </div>

</div>
